|===
|Relation|Description
Logging as a feature

Plugin declaration sample

[source,options="nowrap"]
----
{{build_gradle}}
----

When you invoke build as follows

[source,options="nowrap"]
----
{{gradle_when}}
----

You will recieve following results
[source,options="nowrap"]
----
{{gradle_than}}
----
|===